
@{
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}

<div class="row">
    <div class="col-12">
        <label>Total Local</label>
        <b>@totalLocal</b>
        <label>Total Extrangero</label>
        <b>@totalForeign</b>
    </div>
</div>